<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                <p class="text-lg font-medium">Informacion del Tipo Persona</p>
                <p class="text-secondary mb-6">
                    Este formulario permite agregar nuevos registros de tipo personas para poder administrarlos
                </p>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input
                            [(ngModel)]="tipo_persona.nombre_tipo_persona"
                            name="nombre_tipo_persona"
                            matInput
                            [placeholder]="'Ingrese un nuevo tipo de persona'">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:home'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button routerLink="/lista-tipo-persona">
                        Cancelar
                    </button>
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="agregarTipoPersona()">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>